.header{
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    padding: 1.875rem 4rem;
    background-color: aquamarine;

    &-list{
        display: flex;
        align-items: center;
        font-family: $DM;
        font-weight: 400;
        justify-content: space-between;
        
        li{
            padding-left: 2em;
        }
        a{
            @include rfs(16px)
        }
    }
}